.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: var(--background);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo section */
.logo {
  display: flex;
  align-items: center;
  gap: 0.6rem;

  img {
    cursor: pointer;
    height: 40px;
    width: auto;
  }

  span {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--text-primary);
  }
}

/* Nav links centered */
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex: 1; /* this lets nav expand between logo and button */

  a {
    text-decoration: none;
    color: var(--text-secondary);
    font-weight: 500;
    transition: all 0.3s ease;

    &.active, &:hover {
      color: var(--primary-end);
    }
  }
}